[Unit]
Description=DOORS Daemon
After=syslog.service dbus-org.freedesktop.timesync1.service dbus-org.freedesktop.network1.service

[Service]
Type=forking
WorkingDirectory=/usr/bin/doors_hub/
ExecStart=/usr/bin/doors_hub/hub_control
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
