[Unit]
Description=DOORS Daemon

[Service]
Type=forking
WorkingDirectory=/usr/bin/doors_hub/
ExecStart=/usr/bin/doors_hub/hub_control
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
